
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="jpranjal">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script	src="/js/angular.min.js"></script>
    <!-- Custom CSS -->
    <link href="/stylesheets/business-casual.css" rel="stylesheet">
	<script src="/angularjs/transaction.js"></script>
</head>

<header>
    <!-- Navigation -->
    <%var user1 =  username %>
     <%username = user1 %>
    <% include header %>
</header>

<body ng-app="transaction" ng-controller="transaction">
<br><br>

<% data.forEach(function(item, index){ %>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-9">
	<div class="panel">
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-9">
				<label> <font style="font-weight: bold; font-size:x-large;"><%= item.brand %> <%= item.label %></font></label>
				</div>
			</div>
			<br><br>
			<div class="row">
				<div class="col-sm-9">
				<label> <font style="font-weight:normal ; font-size:large;"><b>Description:</b> <%= item.description%></font></label>
				</div>
			</div><br>
			<div class="row">
				<div class="col-sm-9">
				<label> <font style="font-weight:normal ; font-size:medium;"><b>Item condition:</b> <%= item.conditions%></font></label>
				</div>
			</div><br><br>
			<div class="row">
				<div class="col-sm-1">
					<label  style="height:100%; min-height:10px; margin-top:5px; vertical-align:middle;  font-size:normal; font-weight: normal font-family: Helvetica neue,Helvetica,Arial,Sans-serif; font-size: 16px">Quantity</label>
				</div>
				<div class="col-sm-2">
				<% if(item.is_auction =='1') {%>
				  <input type="number"  min="1" class="form-control quantity" placeholder="1"  ng-model="quantity"  value = "1"  width="5px;" disabled>
				<% } else { %>
					<input type="number"  min="1" class="form-control quantity" placeholder="0"  ng-model="quantity"  value = "1"  width="5px;" >
				<% } %>
				</div>
				<div class="col-sm-3">
				</div>
				<% if(item.is_auction =='1') {%>
				<div class="col-sm-6">
					<% if(item.days =='4') {%>
						Last Day to bid
					<% } else { %>	
				  		<%=4-item.days %>d left
				  	<% } %>	
				</div>
				<% } %>
			</div><br><br>
			<% if(item.is_fixed =='1') { %>
			<div class="row">
				<div class="col-sm-6">
				<label> Price: $<%=item.price %></label>
				</div>
				<div class="col-sm-6">
				<label> Ship price: $<%=item.ship_price %></label>
				</div>
			</div><br><br>
			<%} %>
			<div class="row">
				<div class="col-sm-3">
				<% if(item.count >0 && item.is_auction =='1') { %>
				<label><font style="font-weight: bold;">Current bid:&nbsp;</font> Max(<%= item.max%>) &nbsp;&nbsp;[<%= item.count%> bids]</label>
								<%} %>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5">
					<div class="row">
						<% if(item.is_auction =='1') {%>
							<% if(item.max_bidder == 1 && item.days> 4) { %>
							<div class="col-sm-6">
									<font color="green" size="5" >You won the bid</font>
							</div>
							<div class="col-sm-6">
								<input type="button" class="on btn btn-primary" id="bidButton"  value="Buy Now" ng-click="buyNow(<%=item.prod_id%>);"
								value="buyNow" >
							</div>
							
							<% } else if (item.alreadyBid == 0 && item.days< 5) {%>
							<div class="col-sm-6">
								<input type="text" class="form-control" style="text-align: right;" id="bidAmount" ng-model ="bidAmount" >
							</div>
							<div class="col-sm-6">
								<input type="button" class="on btn btn-primary" id="bidButton"  value="Place bid" ng-click="addBid(bidAmount, <%=item.prod_id%>);"
								value="addBid">
							</div>
							<% } else if (item.alreadyBid == 1 && item.days< 5){%>
							<div class="col-sm-9">
								<label><font style="font-weight: bold;">You already placed the bid</label>
								
							</div>
						<%  } }%>
						</div>
					</div>	
				</div>
			</div>	<br><br>
			<% if(item.is_fixed == '1') {%>
			<div class="row">
				<div class="col-sm-5">
					<div class="row">
						<div class="col-sm-6">
						</div>
						<div class="col-sm-6">
							<input type="button" ng-click = "addToCart('<%=item.brand %>', '<%=item.label %>', '<%=item.conditions %>', '<%=item.price %>', '<%=item.ship_price %>','<%=item.prod_id %>');" class="on btn btn-primary" value="Add To Cart">
						</div>
					</div>	
				</div>
			</div>
			<% } %>
			<br>
			<br>
		</div>
	    </div>
	</div>
</div>
	<% }); %>
	




</body>
</html>

